* {
	padding:0;
	margin:0;
	font-family: sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}

section {
	padding:20px 0;
	background-color: #190019;
}
section h3 {
	text-align: center;
	font-size: 35px;
	padding:20px 0;
	color: #2B124C;
	margin-bottom: 25px;
}
.Layanan {
	background-color: #FBE4D8;
}
.box {
	color: #2B124C;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.box .col-4 {
	width:30%;
	padding:20px;
	margin-left: 35px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.box .col-4 .icon:hover {
    color: #DFB6B2;
}
.icon {
	width:70px;
	height:70px;
	border:1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 15px;
	margin:0 auto;
}

.box .col-4 h4 {
	margin:20px 0;
}
.garansi {
	background-color: #854F6C;
	margin-top: 0px;
}
.garansi h1 {
	text-align: center;
	font-size: 35px;
	padding:20px 0;
	color: #FBE4D8;
	margin-bottom: 25px;
}
.garansi h2 {
	text-align: center;
	font-size: 35px;
	padding:20px 0;
	color: #2B124C;
	margin-bottom: 5px;
}
.garansi h3 {
	font-size: 20px;
	padding:20px 0;
	color: #FBE4D8;
	margin-bottom: 5px;
}

footer {
	padding:30px 0;
	background-color: #FBE4D8;
	color: #190019;
	text-align: center;
}
.content {
	width: 1140px;
	margin-top: 50px;
	margin-left: 100px;
	display: flex;
	justify-content: center;
}
.footer-content {
	width: 33.3%;
}
h3{
	font-size: 25px;
	margin-bottom: 15px;
	text-align: center;
}
.footer-content p {
	width: 300px;
	margin-left: 30px;
	padding: 7px;
}
.footer-content ul{
	text-align: center;
}
.list {
	padding: 0;
}
.list li{
	width: auto;
	text-align: center;
	list-style-type: none;
	padding: 7px;
	position: relative;
}
.list li::before{
	content: '';
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 100%;
	width: 0;
	height: 2px;
	background: #854F6C;
	transition-duration: .5s;
}
.list li:hover::before{
	width: 70px;
}
.social-icons{
	text-align: center;
	padding: 0;
}
.social-icons li{
	display: inline-block;
	text-align: center;
	padding: 5px;
}
.social-icons i{
	color: #DFB6B2;
	font-size: 25px;
}
a{
	text-decoration: none;
}
a:hover{
	color: #854F6C;
}
.social-icons i:hover{
	color:#854F6C;
}
.bottom-bar {
	padding: 5px;
	background-color: #190019;
}
.bottom{
	color: #FBE4D8;
	text-align: center;
	padding: 10px 0;
	margin-top: 0px;
	font-size: 15px;
}
@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width:100%;
		float: none;
	}
}